# Vocab Testing Ipynb ----

# File Review

In [28]:
from os import path
fname = path.expanduser('/Users/Irene/_projects/PycharmProjects/vocab_lib/thirdlong_list.csv')

In [29]:
!ls -lh "$fname"

-rw-r--r--@ 1 Irene  staff    21K Nov 17 16:03 /Users/Irene/_projects/PycharmProjects/vocab_lib/thirdlong_list.csv

In [30]:
path.getsize(fname)

21709

In [31]:
path.getsize(fname) / (1<<10)

21.2001953125

In [32]:
with open(fname) as fp:
    for lnum, line in enumerate(fp):
        if lnum > 10:
            break
        print(line[:-1])

the,17184
of,12864
or,6080
in,5696
and,5344
to,3840
is,2208
an,2112
which,2016
from,1920
on,1824

# Importing Packages

In [35]:
import codecs
import re
import copy
import collections
import vocabulary

import matplotlib
import numpy as np
import pandas as pd
import nltk

from nltk.stem import PorterStemmer
from nltk.tokenize import WordPunctTokenizer
from __future__ import division
from nltk.corpus import wordnet as wd
from vocabulary.vocabulary import Vocabulary as vb

In [46]:
df = pd.read_csv(fname, header=None)

# Gauging the File Further

In [37]:
df.head()

   the  17184
0   of  12864
1   or   6080
2   in   5696
3  and   5344
4   to   3840

In [12]:
len(df)

2008

In [13]:
df.columns

Int64Index([0, 1], dtype='int64')

In [14]:
df.tail()

               0   1
2003    thinking  32
2004    religion  32
2005      belief  32
2006  technology  32
2007      melayu  32

In [15]:
df.shape

(2008, 2)

In [45]:
df.iloc[701:800]

            the  17184
701     filling     64
702   referring     64
703     engaged     64
704        rear     64
705  equivalent     64
706    scoinson     64
707   revolving     64
708        room     64
709     screens     64
710    sequence     64
711    voussoir     64
712    commonly     64
713      chords     64
714        wing     64
715        look     64
716   cambridge     64
717      online     64
718      deurer     64
719     related     64
720       april     64
721        find     64
722      masses     64
723     hyphens     64
724    november     64
725        menu     64
726      logged     64
727  accountlog     64
728  namespaces     64
729     article     64
730        talk     64
..          ...    ...
770   hullwhite     64
771        chen     64
772      fisher     64
773    equation     64
774    crowding     64
775      annual     64
776    coverage     64
777        gold     64
778        mark     64
779  separation     64
780   reference     64
781         day     64
782    position     64
783      trader     64
784     payment     64
785     annuity     64
786  perpetuity     64
787       mania     64
788         war     64
789  depression     64
790       crash     64
791       asian     64
792  statements     64
793     balance     64
794       sheet     64
795  philosophy     64
796  multiplier     64
797     ethical     64
798      number     64
799    weighted     64

[99 rows x 2 columns]

In [44]:
df.iloc[301:400]

            the  17184
301  especially    128
302    buttress    128
303      figure    128
304      placed    128
305     temples    128
306     classic    128
307         had    128
308      orders    128
309     systems    128
310      shafts    128
311    parallel    128
312     concave    128
313    springer    128
314        most    128
315        have    128
316        area    128
317    entrance    128
318   connected    128
319  triangular    128
320        base    128
321      timber    128
322       using    128
323       built    128
324        trim    128
325        bear    128
326       basis    128
327  university    128
328        arts    128
329       james    128
330  navigation    128
..          ...    ...
370       early     96
371    handrail     96
372    capacity     96
373     imposed     96
374     without     96
375      barrel     96
376      lights     96
377        only     96
378       slope     96
379     chamber     96
380         set     96
381    keystone     96
382        left     96
383       types     96
384      pillar     96
385    designed     96
386       porch     96
387       cella     96
388     opening     96
389      around     96
390        east     96
391      indian     96
392    provides     96
393       shaft     96
394       style     96
395         now     96
396        nave     96
397       shape     96
398      frieze     96
399    elements     96

[99 rows x 2 columns]

# Dictionary module

In [20]:
vb.synonym("car")

'[{"seq": 0, "text": "motor"}, {"seq": 1, "text": "automotive"}, {"seq": 2, "text": "cart"}]'

In [21]:
vb.usage_example("car", format='dict')

{0: '"Dude! Where\'s my car?"',
 1: 'Girl: "oh, you have a nice car"Guy: "oh, you noticed, I\'m flattered..."',
 2: 'that [car] was going 120 miles per hour vroom bitchh vrooom',
 3: "Thats the 10th girl I've slammed in my car!",
 4: 'Bob: you get any a** lately?Mike: F**k yeah, ever since I got a job and a new car the b**tches are lining up.B**tch: Hey nice car!Mike: Back of the line Ho wait your turn.',
 5: 'When a motorist is within fifty yards of the goal, one shouts "car" and the goal is removed until the car passes. There\'s no need to shout \'"game on" as they do in Canada, where attention spans differ.',
 6: '"which part of the car is this... the break or the clutch?"',
 7: 'Bob: Hey Bill, did you see Cars last night?Bill: Yeah it kicked butt',
 8: 'I drove my car to the fuel station to fill reservoir with liquified prehistoric reptiles.',
 9: 'My car is enormous.'}

In [22]:
vb.part_of_speech("car", format='dict')

{0: {'example': 'An automobile.', 'text': 'noun'},
 1: {'example': 'A vehicle, such as a streetcar, that runs on rails:  a railroad car. ',
  'text': 'noun'},
 2: {'example': 'A boxlike enclosure for passengers and freight on a conveyance:  an elevator car. ',
  'text': 'noun'},
 3: {'example': 'The part of a balloon or airship that carries people and cargo.',
  'text': 'noun'},
 4: {'example': 'Archaic   A chariot, carriage, or cart.', 'text': 'noun'}}

In [23]:
vb.meaning("car", format='dict')

{0: 'An unpowered unit in a railroad train.',
 1: 'A sliding fitting that runs along a track.',
 2: 'an individual vehicle, powered or unpowered, in a multiple unit.',
 3: 'a conveyance for passengers or freight on a cable railway; &quot;they took a cable car to the top of the mountain&quot;',
 4: 'The aggregate of desirable characteristics of a car.',
 5: '(sailing) A sliding fitting that runs along a track.',
 6: '(rail transport, chiefly North America) An unpowered unit in a railroad train.',
 7: '(dated) A wheeled vehicle, drawn by a horse or other animal',
 8: 'automobile, a vehicle steered by a driver',
 9: '( <i>rail transport</i>) A passenger-carrying unit in a subway or elevated train, whether powered or not.',
 10: 'A four-wheeled motor vehicle used for land transport, usually propelled by a gasoline or diesel internal combustion engine.',
 11: 'the compartment that is suspended from an airship and that carries personnel and the cargo and the power plant',
 12: 'A wheeled vehicle that moves independently, with at least three wheels, powered mechanically, steered by a driver and mostly for personal transportation; a motorcar or automobile.',
 13: '(uncountable, US) The aggregate of desirable characteristics of a car.',
 14: 'A rough unit of quantity approximating the amount which would fill a railroad car.',
 15: 'The part of an airship, such as a balloon or dirigible, which houses the passengers and control apparatus.',
 16: 'A wheeled vehicle, drawn by a horse or other animal.',
 17: 'moving, load-carrying component of an elevator',
 18: 'a motor vehicle with four wheels; usually propelled by an internal combustion engine; &quot;he needs a car to get to work&quot;',
 19: 'A floating perforated box for living fish.',
 20: 'A wheeled vehicle that moves independently, steered by a driver mostly for personal transportation; a motor car or automobile',
 21: 'railway carriage, a nonpowered unit in a railroad train',
 22: '(computing) The first part of a cons in LISP. The first element of a list.',
 23: 'The moving, load-carrying component of an elevator or other cable-drawn transport mechanism.',
 24: 'The passenger-carrying portion of certain amusement park rides, such as Ferris wheels.',
 25: 'a wheeled vehicle adapted to the rails of railroad; &quot;three cars had jumped the rails&quot;',
 26: '(rail transport) an individual vehicle, powered or unpowered, in a multiple unit.',
 27: 'passenger-carrying unit in a subway or elevated train, whether powered or not',
 28: '(rail transport) A passenger-carrying unit in a subway or elevated train, whether powered or not.',
 29: 'The first part of a cons in LISP. The first element of a list',
 30: 'where passengers ride up and down; &quot;the car was on the top floor&quot;'}

# Create the looping script

# Test the iteration

In [50]:
rows = open("/Users/Irene/_projects/PycharmProjects/vocab_lib/output.csv")

for row in rows:
    print(row[0])
    
vb.meaning("car", format='dict')
synsets = wn.synsets('cake')

for word in words:
    print("Lexical Type:", vb.part_of_speech)
    print("Definition:", vb.meaning)
    print ("Example:", synset.examples)

SyntaxError: invalid syntax (<ipython-input-50-ead059550847>, line 4)

# Append data to file

https://stackoverflow.com/questions/42879408/writing-variables-to-a-csv-row-python

In [ ]:
f = open('/Users/Irene/_projects/PycharmProjects/vocab_lib/output.csv','w')
f.append('hi there\n') #Give your csv text here.
## Python will convert \n to os.linesep
f.close()

In [ ]:
#write to csv line by line 
#https://stackoverflow.com/questions/37289951/python-write-to-csv-line-by-line