# vocab_tool_vb_module_testing

# File Review

In [3]:
from os import path
fname = path.expanduser('/Users/Irene/_projects/pycharm_projects/vocabjournalproject/vocab-tool/words/thirdlong_list.csv')

In [4]:
!ls -lh "$fname"

-rw-r--r--  1 Irene  staff    21K Dec  7 15:21 /Users/Irene/_projects/pycharm_projects/vocabjournalproject/vocab-tool/words/thirdlong_list.csv

In [5]:
path.getsize(fname)

21709

In [6]:
path.getsize(fname) / (1<<10)

21.2001953125

In [7]:
with open(fname) as fp:
    for lnum, line in enumerate(fp):
        if lnum > 10:
            break
        print(line[:-1])

the,17184
of,12864
or,6080
in,5696
and,5344
to,3840
is,2208
an,2112
which,2016
from,1920
on,1824

# Importing Packages

In [8]:
import codecs
import re
import copy
import collections
import vocabulary

import matplotlib
import numpy as np
import pandas as pd
import nltk
import csv

from nltk.stem import PorterStemmer
from nltk.tokenize import WordPunctTokenizer
from __future__ import division
from nltk.corpus import wordnet as wd
from vocabulary.vocabulary import Vocabulary as vb

In [9]:
df = pd.read_csv(fname, header=None)

# Gauging the File Further

In [20]:
df.head()

     0      1
0  the  17184
1   of  12864
2   or   6080
3   in   5696
4  and   5344

In [21]:
len(df)

2008

In [22]:
df.columns

Int64Index([0, 1], dtype='int64')

In [23]:
df.tail()

               0   1
2003    thinking  32
2004    religion  32
2005      belief  32
2006  technology  32
2007      melayu  32

In [24]:
df.shape

(2008, 2)

In [25]:
df.iloc[701:800]

              0   1
701       bench  64
702     filling  64
703   referring  64
704     engaged  64
705        rear  64
706  equivalent  64
707    scoinson  64
708   revolving  64
709        room  64
710     screens  64
711    sequence  64
712    voussoir  64
713    commonly  64
714      chords  64
715        wing  64
716        look  64
717   cambridge  64
718      online  64
719      deurer  64
720     related  64
721       april  64
722        find  64
723      masses  64
724     hyphens  64
725    november  64
726        menu  64
727      logged  64
728  accountlog  64
729  namespaces  64
730     article  64
..          ...  ..
770     vasicek  64
771   hullwhite  64
772        chen  64
773      fisher  64
774    equation  64
775    crowding  64
776      annual  64
777    coverage  64
778        gold  64
779        mark  64
780  separation  64
781   reference  64
782         day  64
783    position  64
784      trader  64
785     payment  64
786     annuity  64
787  perpetuity  64
788       mania  64
789         war  64
790  depression  64
791       crash  64
792       asian  64
793  statements  64
794     balance  64
795       sheet  64
796  philosophy  64
797  multiplier  64
798     ethical  64
799      number  64

[99 rows x 2 columns]

In [26]:
df.iloc[301:400]

              0    1
301        made  128
302  especially  128
303    buttress  128
304      figure  128
305      placed  128
306     temples  128
307     classic  128
308         had  128
309      orders  128
310     systems  128
311      shafts  128
312    parallel  128
313     concave  128
314    springer  128
315        most  128
316        have  128
317        area  128
318    entrance  128
319   connected  128
320  triangular  128
321        base  128
322      timber  128
323       using  128
324       built  128
325        trim  128
326        bear  128
327       basis  128
328  university  128
329        arts  128
330       james  128
..          ...  ...
370    inserted   96
371       early   96
372    handrail   96
373    capacity   96
374     imposed   96
375     without   96
376      barrel   96
377      lights   96
378        only   96
379       slope   96
380     chamber   96
381         set   96
382    keystone   96
383        left   96
384       types   96
385      pillar   96
386    designed   96
387       porch   96
388       cella   96
389     opening   96
390      around   96
391        east   96
392      indian   96
393    provides   96
394       shaft   96
395       style   96
396         now   96
397        nave   96
398       shape   96
399      frieze   96

[99 rows x 2 columns]

In [11]:
df.iloc[[0,3,6,24], [0,1]] # 1st, 4th, 7th, 25th row + 1st 2nd columns.

       0      1
0    the  17184
3     in   5696
6     is   2208
24  rate    896

In [17]:
df.iloc[[0,3,6,24], [0]] # 1st, 4th, 7th, 25th row + 1st columns. 
# https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/

       0
0    the
3     in
6     is
24  rate

In [16]:
df.iloc[[0, 24], [0]] # 1st, 25th row + 1st columns.

       0
0    the
24  rate

# Dictionary module

In [27]:
vb.synonym("car")

'[{"seq": 0, "text": "motor"}, {"seq": 1, "text": "automotive"}, {"seq": 2, "text": "cart"}]'

In [28]:
vb.usage_example("car", format='dict')

{0: '"Dude! Where\'s my car?"',
 1: 'Girl: "oh, you have a nice car"Guy: "oh, you noticed, I\'m flattered..."',
 2: 'that [car] was going 120 miles per hour vroom bitchh vrooom',
 3: "Thats the 10th girl I've slammed in my car!",
 4: 'Bob: you get any a** lately?Mike: F**k yeah, ever since I got a job and a new car the b**tches are lining up.B**tch: Hey nice car!Mike: Back of the line Ho wait your turn.',
 5: 'When a motorist is within fifty yards of the goal, one shouts "car" and the goal is removed until the car passes. There\'s no need to shout \'"game on" as they do in Canada, where attention spans differ.',
 6: '"which part of the car is this... the break or the clutch?"',
 7: 'Bob: Hey Bill, did you see Cars last night?Bill: Yeah it kicked butt',
 8: 'My car is enormous.',
 9: 'I drove my car to the fuel station to fill reservoir with liquified prehistoric reptiles.'}

In [29]:
vb.part_of_speech("car", format='dict')

{0: {'example': 'An automobile.', 'text': 'noun'},
 1: {'example': 'A vehicle, such as a streetcar, that runs on rails:  a railroad car. ',
  'text': 'noun'},
 2: {'example': 'A boxlike enclosure for passengers and freight on a conveyance:  an elevator car. ',
  'text': 'noun'},
 3: {'example': 'The part of a balloon or airship that carries people and cargo.',
  'text': 'noun'},
 4: {'example': 'Archaic   A chariot, carriage, or cart.', 'text': 'noun'}}

In [30]:
vb.meaning("car", format='dict')

{0: 'An unpowered unit in a railroad train.',
 1: 'A sliding fitting that runs along a track.',
 2: 'an individual vehicle, powered or unpowered, in a multiple unit.',
 3: 'a conveyance for passengers or freight on a cable railway; &quot;they took a cable car to the top of the mountain&quot;',
 4: 'The aggregate of desirable characteristics of a car.',
 5: '(sailing) A sliding fitting that runs along a track.',
 6: '(rail transport, chiefly North America) An unpowered unit in a railroad train.',
 7: '(dated) A wheeled vehicle, drawn by a horse or other animal',
 8: 'automobile, a vehicle steered by a driver',
 9: '( <i>rail transport</i>) A passenger-carrying unit in a subway or elevated train, whether powered or not.',
 10: 'A four-wheeled motor vehicle used for land transport, usually propelled by a gasoline or diesel internal combustion engine.',
 11: 'the compartment that is suspended from an airship and that carries personnel and the cargo and the power plant',
 12: 'A wheeled vehicle that moves independently, with at least three wheels, powered mechanically, steered by a driver and mostly for personal transportation; a motorcar or automobile.',
 13: '(uncountable, US) The aggregate of desirable characteristics of a car.',
 14: 'A rough unit of quantity approximating the amount which would fill a railroad car.',
 15: 'The part of an airship, such as a balloon or dirigible, which houses the passengers and control apparatus.',
 16: 'A wheeled vehicle, drawn by a horse or other animal.',
 17: 'moving, load-carrying component of an elevator',
 18: 'a motor vehicle with four wheels; usually propelled by an internal combustion engine; &quot;he needs a car to get to work&quot;',
 19: 'A floating perforated box for living fish.',
 20: 'A wheeled vehicle that moves independently, steered by a driver mostly for personal transportation; a motor car or automobile',
 21: 'railway carriage, a nonpowered unit in a railroad train',
 22: '(computing) The first part of a cons in LISP. The first element of a list.',
 23: 'The moving, load-carrying component of an elevator or other cable-drawn transport mechanism.',
 24: 'The passenger-carrying portion of certain amusement park rides, such as Ferris wheels.',
 25: 'a wheeled vehicle adapted to the rails of railroad; &quot;three cars had jumped the rails&quot;',
 26: '(rail transport) an individual vehicle, powered or unpowered, in a multiple unit.',
 27: 'passenger-carrying unit in a subway or elevated train, whether powered or not',
 28: '(rail transport) A passenger-carrying unit in a subway or elevated train, whether powered or not.',
 29: 'The first part of a cons in LISP. The first element of a list',
 30: 'where passengers ride up and down; &quot;the car was on the top floor&quot;'}

# Create the looping script

In [37]:
words = ["you", "me", "too"]
for word in words:
    print (vb.synonym(word))
    print (vb.usage_example(word, format='dict'))
    vb.part_of_speech(word, format='dict')
    vb.meaning(word, format='dict')

[{"seq": 0, "text": "thee"}, {"seq": 1, "text": "all of you"}, {"seq": 2, "text": "one"}, {"seq": 3, "text": "your father"}, {"seq": 4, "text": "thou"}, {"seq": 5, "text": "body"}, {"seq": 6, "text": "you ladies"}, {"seq": 7, "text": "your place"}, {"seq": 8, "text": "se"}, {"seq": 9, "text": "gentlemen"}, {"seq": 10, "text": "pal"}, {"seq": 11, "text": "you all"}, {"seq": 12, "text": "buddy"}, {"seq": 13, "text": "they"}]
{0: '', 1: "Hey you!!! You're reading this!!! ", 2: 'You killed Jesus, spread the plague, shot JFK, and made Britney Spears popular. Thanks a lot....dick.', 3: "Dina: You are a complete idiot and an utter waste of space on this planet. The mere sight of you makes me want to throw up. Please, go away. I don't care where. Just go away.Pat: You.", 4: 'What are YOU looking at?', 5: 'Im so bored. I write a meaning for you on urban dictionary', 6: 'Only YOU can prevent wildfires.-Smokey Bear', 7: '"Yous all seen what he done." ( a proud owner making a speech on receiving a trophy for his horse winning a major harness-racing event at the "[trots]")', 8: '[19:55:40] <3 Why Are Y: i go to ur skwl year below yoo[19:55:48] craig <3 jad: *you^faggot', 9: 'I hate you, you hate me....'}
[{"seq": 0, "text": "us"}]
{0: 'i am me... you are not.end of story.', 1: 'You know me.I know what Me means.I know me.ME me me me me me me me me me me me me me.', 2: 'Redundantly yours,MeP.S. Why are you looking at me like that?', 3: 'the world bows down to me.not you. :]', 4: '"Go get ME a samich."', 5: 'I love me.Not you.', 6: "Wooow these people are interesting xDAnd I have to include the word being defines, so.. 'me'", 7: '1. ME.2. Me, Myself and I', 8: 'You: Who is me?Me: I am.', 9: 'Me.Oh well... the one [You] made is better...'}
[{"seq": 0, "text": "over"}, {"seq": 1, "text": "too much"}, {"seq": 2, "text": "also"}, {"seq": 3, "text": "excessively"}]
{0: '1. There were too many people in the crowd for me to see what was going on.2. I wanna go, too!3. oooo me to!!!1114. nooo ur 2 smrat 4 me', 1: 'Jason is coming along too!'}

# Save data to object etc.

In [1]:
wordColumn = df['word']

for word in wordColumn:
    print (vb.synonym(word))
    print (vb.usage_example(word, format='dict'))
    print (vb.part_of_speech(word, format='dict'))
    print (vb.meaning(word, format='dict'))

SyntaxError: invalid syntax (<ipython-input-1-bb2a2d111393>, line 1)

In [ ]:
d = []
for word in wordColumn:
    d.append(word),
    d.append(vb.part_of_speech(word, format='dict'))
    #d.append(vb.meaning(word, format='dict'))
    d.append(vb.usage_example(word, format='dict'))
#https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions

In [ ]:
print (d)

In [ ]:
e = []
for word in wordColumn:
    e.append(word),
    e.append(vb.part_of_speech(word, format='dict'))

In [ ]:
print (e)

# JSON Data Dump

In [ ]:
import json

In [ ]:
with open('data.json', 'w') as outfile:
    json.dump(d, outfile)
#https://stackoverflow.com/questions/12309269/how-do-i-write-json-data-to-a-file

# Pretty Print

In [ ]:
with open('data_pretty.json', 'w') as outfile:
    json.dump(d, outfile, indent=4)
#https://stackoverflow.com/questions/12309269/how-do-i-write-json-data-to-a-file

In [ ]:
with open('data_pretty2.json', 'w') as outfile:
    json.dump(e, outfile, indent=4)
#https://stackoverflow.com/questions/12309269/how-do-i-write-json-data-to-a-file

# Massaging the JSON file

In [ ]:
import json

In [ ]:
fname = path.expanduser('/Users/Irene/_projects/pycharm_projects/vocabjournalproject/vocab-tool/data_pretty.json')

In [ ]:
with open(fname) as fp:
    for lnum, line in enumerate(fp):
        if lnum > 10:
            break
        print(line[:-1])

In [ ]:
# load json file from /data folder
with open('/Users/Irene/_projects/pycharm_projects/vocabjournalproject/vocab-tool/data_pretty.json') as json_data:
    data = json.load(json_data)

In [ ]:
from pprint import pprint as pp
pp(data)

In [ ]:
from collections import OrderedDict

In [ ]:
mylist = ['systems',
          {'0': {'example': 'Plural form of system.', 'text': 'noun'},
           '1': {'example': 'Pertaining to systems, specific to systems.',
                 'text': 'adverb'}},
          {'0': 'With that system I can hear you a block away.',
              '1': 'Some guy: Hey Jim, I just made a new system for getting my homework '}]


header = ['key', 'word', 'example', 'text', 'use']
d = OrderedDict.fromkeys(header)

# create output csv file and write header into it:
out_file = open('output.csv', 'w')
out_file.write(str.join('\t', header) + '\n')

# parser
for k in mylist[1].keys():
    d['key'] = mylist[0] + '_' + k # just to keep track, can delete
    d['word'] = mylist[0]
    d['example'] = mylist[1][k]['example']
    d['text'] = mylist[1][k]['text']
    d['use'] = mylist[2][k]
    parsed_line = str.join('\t', d.values()) + '\n'
    # print(parsed_line)
    out_file.write(parsed_line)

# close file!
out_file.close()